# Git
.git
.gitignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
.DS_Store

# Test
coverage/
.nyc_output/

# Misc
*.log
.env
.env.local
.env.*.local

# Docker
Dockerfile
docker-compose.yml
